.animatedButton {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid transparent;
    font-size: 16px;
    background-color: #25618B; /* Updated background color */
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff; /* Changed text color to white for better contrast */
    box-shadow: 0 0 0 2px #25618B; /* Updated box shadow color */
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .svg {
    position: absolute;
    width: 24px;
    fill: #ffffff;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .arr1 {
    right: 16px;
  }
  
  .arr2 {
    left: -25%;
  }
  
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #c5e5e4;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  /* Update hover state */
.animatedButton:hover {
    background-color: #1b4d6b;
    box-shadow: 0 0 0 12px transparent;
    color: #1b4d6b;
    border-radius: 100px;
  }
  
  .animatedButton:hover .arr1 {
    right: -25%;
  }
  
  .animatedButton:hover .arr2 {
    left: 16px;
  }
  
  .animatedButton:hover .text {
    transform: translateX(12px);
  }
  
  /* Update hover state for SVG */
.animatedButton:hover svg {
    fill: #1b4d6b;
    font-weight: 600;
  }
  
  .animatedButton:active {
    transform: scale(0.95);
    box-shadow: 0 0 0 4px greenyellow;
  }
  
  .animatedButton:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }